body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #0f172a;
    color: white;
    text-align: center;
}

header {
    padding: 40px;
    background-color: #1e293b;
}

section {
    padding: 30px;
}

h2 {
    color: #38bdf8;
}

footer {
    background-color: #1e293b;
    padding: 20px;
}
